@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/tailwind';

.bg-fafafa {
    background-color: #fafafa;
}
.color-gray {
    color: #8e8e8e;
}
.border-gray {
    border-color: #dbdbdb;
}

.search::-webkit-input-placeholder {
    text-align: center;
}

.search:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

.max-w-96 {
    max-width: 96px;
}
.search::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}
.search:-ms-input-placeholder {
    text-align: center;
}
.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-auto-rows: 1fr;
}
.photos::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.photos > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
